# InfluxDB Configuration
# Get this from your InfluxDB instance
INFLUX_TOKEN=your_influx_token_here

# InfluxDB password for the admin user
INFLUX_PASSWORD=your_influx_password_here

# Grafana admin password
# This will be used to log into Grafana at http://localhost:3000
GRAFANA_PASSWORD=your_grafana_password_here 